/* comment */

h1 {
    font-size: 5vw;
    text-align: center;
}
a {
    font-size: 1.8vw;
}
.main_content_skip {
    display: none;
}
.Introduction {
    text-align: center;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.navItem {
    display: inline-block;
}